<div class="col-lg-6 col-md-6">
    <div class="single-post-item">
        {{#if feature_image}}
        <div class="post-thumb">
            <img class="img-fluid"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 400px, 700px"
                src="{{img_url feature_image size="m"}}"
                alt="{{title}}"
            />
        </div>
        {{/if}}
        <div class="post-details">
            <h4><a href="{{ url }}">{{ title }}</a></h4>
            <p>{{ excerpt words="25" }}</p>
            <div class="blog-meta d-flex justify-content-between">
                <a href="javascript:void(0)" class="m-gap"><span class="lnr lnr-calendar-full"></span>{{ date }}</a>
                <a href="javascript:void(0)" class="m-gap"><span class="lnr lnr-clock"></span>{{reading_time minute=(t "a hot minute") minutes=(t "% minutes")}}</a>
            </div>
        </div>
    </div>
</div>