<div class="news_d_footer">
    <div class="news_socail">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url absolute=true }}" onclick="window.open(this.href, 'sharer', 'width=550,height=235');return false;"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/home?status={{ excerpt }}" onclick="window.open(this.href, 'sharer', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
        <a href="https://www.pinterest.com/pin/create/button/?url={{ @site.url }}&media={{ feature_image }}&description={{ excerpt }}" onclick="window.open(this.href, 'sharer', 'width=550,height=235');return false;"><i class="fa fa-pinterest"></i></a>

        <a onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.linkedin.com/shareArticle?mini=true&url={{encode title}}&url={{url absolute="true"}}">
        <i class="fa fa-instagram"></i>
        </a>
    </div>
</div>