{{!< default}} 

{{#post}} 

<!-- Start banner Area -->
<section class="banner-area relative" style="background: linear-gradient(0deg, rgba(128, 80, 250, 0.8), rgba(128, 80, 250, 0.8)), url({{feature_image}}) no-repeat center;background-size: cover;">
    <div class="overlay overlay-bg"></div>
    <div class="container box_1170">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    {{title}}
                </h1>
                <p class="text-white link-nav">
                    <a href="{{ @site.url }}">{{t "Home"}}</a>
                    <span class="lnr lnr-arrow-right"></span>
                    {{ title }}
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Blog Area -->
<section class="blog_area section-gap single-post-area">
    <div class="container box_1170">
        <div class="row flex-row-reverse">
            <div class="col-lg-8">
                <div class="main_blog_details">
                        <div class="user_details">
                        <div class="float-left">
                            {{#foreach tags}}
                                <a href="{{ url }}">{{ name }}</a>
                            {{/foreach}}
                        </div>
                    </div>
                    <div class="media">
                        {{#primary_author}}
                        <div class="d-flex align-items-center author-image">
                            <img src="{{ profile_image }}" alt="{{ name }}">
                        </div>
                        {{/primary_author}}

                        <div class="media-body">
                            {{#primary_author}}
                            <a href="{{ url }}">{{ name }}</a>
                            {{/primary_author}}
                            <p>{{ date }}</p>
                        </div>
                    </div>
                    <!-- Blog full content -->
                    {{ content }}
                    {{!-- Social share --}}
                    {{> social-share}}

                </div>
                {{!-- navigation-sec --}}
                {{> navigation-sec}}
                {{!-- comment-box --}}
                {{> comment-box}}
            </div>
            {{!-- left sidebar --}}
            {{> sidebar}}
        </div>
    </div>
</section>
<!-- Blog Area -->
{{/post}}